/* Initial setting sets up box sizing, padding, and margin for All */
* {
    box-sizing: border-box;
}

/* Delcare variables for color scheme */
:root{
    --header-blue: #2a607c;
    --white: #ffffff;
    --light-blue: #b2d4e5;
    --medium-blue: #6faece;
    --body-background: #f4f9fb;
}

body {
    /* display: flex;
    background-color: var(--body-background); */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px 15px 35px;;
    background-color: var(--header-blue);
    color: var(--white);
}

h1 {
    font-size: 300%;
}

nav {
    display: flex;
    background-color: var(--light-blue);
  }
  
  nav a {
    color: var(--header-blue);
    font-weight: bold;
    padding: 10px 20px 15px 35px;
    text-decoration: none;
    text-align: center;
  }

nav a:hover {
    color: var(--medium-blue);
}

main {
    /* display: flex;
    flex-wrap: wrap; */
}

/* Media queries */
@media screen and (max-width: 992px){
    header{
        background-color: violet;
    }
}

@media screen and (max-width: 768px) {
    header{
        background-color: green;
    }
    nav{
        flex-direction: column;
    }
}
