/* Initial setting sets up box sizing, padding, and margin for All */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Delcare variables for color scheme */
:root{
    --header-blue: #2a607c;
    --white: #ffffff;
    --light-blue: #b2d4e5;
    --body-background: #f4f9fb;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--body-background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: var(--header-blue);
    color: var(--white);
}

h1 {
    font-size: 300%;
}

header h2 {
    color: var(--light-blue);
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 350px;
}

/* Define text for list items */
nav a {
    background-color: unset;
    color: var(--light-blue);
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
} 

nav a:hover {
    color: var(--white);
}

@media screen and (max-width: 992px){
    header{
        background-color: violet;
    }
}

@media screen and (max-width: 768px) {
    header{
        background-color: green;
    }
}
